<h1> Game {{board.id}} </h1>
<h2>{{board.player1}} vs {{board.player2}}</h2>

<button  (click)="api.get_games()">Press me</button>

<div class=outline>
    hello
<!--     <div class=row>
        <div class=forbidden/>
        <div class=empty/>
        <div class=empty/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=empty/>
        <div class=forbidden/>
    </div>
    <div class=row>
        <div class=empty/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=empty/>
    </div>
    <div class=row>
        <div class=empty/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=empty/>
    </div>
    <div class=row>
        <div class=forbidden/>
        <div class=empty/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=empty/>
        <div class=empty/>
        <div class=forbidden/>
    </div> -->
</div>
