.outline {
}
.row {
    width: 480px;
    height: 48px;
    white-space: nowrap;
}
.cell {
    width: 44px;
    height: 44px;
    margin: 0px;
    border: 2px solid gray;
    display: table-cell;
}
.empty {
    border: 2px dashed gray;
}
.forbidden {
    width: 48px;
    height: 48px;
    border: none;
}
.wallNorth {
    border-top: 2px solid black;
}
.wallSouth {
    border-bottom: 2px solid black;
}