<!-- Here's an example of how to get a list of current games -->
<h1> Game Selection </h1>
<button  (click)="get_games()">Get list of games</button>
<h2>Games</h2>
<ul>
  <li *ngFor="let game of games">
    <span class="badge">{{game.name}}</span> {{game.opponent}}
  </li>
</ul>


<!-- Here is where the board goes -->
<!-- TODO: Make the board class hidden until we load a game-->
<div class="board">
    <h1> Game {{board.id}} </h1>
    <h2>{{board.player1}} vs {{board.player2}}</h2>
    <button  (click)="start_game()">Start!</button>

    <p> {{game.color}} </p>
<div class=outline>
    hello
<!--     <div class=row>
        <div class=forbidden/>
        <div class=empty/>
        <div class=empty/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=wallNorth/>
        <div class=empty/>
        <div class=forbidden/>
    </div>
    <div class=row>
        <div class=empty/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=empty/>
    </div>
    <div class=row>
        <div class=empty/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=cell/>
        <div class=empty/>
    </div>
    <div class=row>
        <div class=forbidden/>
        <div class=empty/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=wallSouth/>
        <div class=empty/>
        <div class=empty/>
        <div class=forbidden/>
    </div> -->
</div>
</div>
